@charset "UTF-8";

.container #userInfo{
	opacity: 0;
}


/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: black;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(255, 255, 255);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: white;
  height: 100%;
  text-align: center;
  margin: 5px;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: black;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(255, 255, 255)
}
.dropdown:active {
    background-color: black;
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(255, 255, 255);
    border-radius: 2px 2px 0 0;
    background-color: black;
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(255, 255, 255);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: black;
}
.dropdown .dropdown-menu li:active {
    background-color: black;
}