<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>UR-Type</title>
	<link href="../static/css/whoAreYou.css" rel="stylesheet" type="text/css" />
	<link href="../static/css/index.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<H1> Who Are you ? </H1>
			당신의 취향에 알아보기 전에,<br/>
			당신에 대해 알려주세요.
		</div>
		<br>
		<form action="userInfo" method="post" id='userInfo'> {% csrf_token %}
			<div class="dropdown"> 
	       		<div class="select">
	       			나이는
	         		<span>____</span>
	         		<i class="fa fa-chevron-left"></i>
	         		입니다.
	       		</div>
	       		<input type="hidden" id="user_Age" name="user_Age" value="null">
	       		<ul class="dropdown-menu">
	         		<li id="14">14</li>
	         		<li id="15">15</li>
	         		<li id="16">16</li>
	         		<li id="17">17</li>
	         		<li id="18">18</li>
	         		<li id="19">19</li>
	         		<li id="20">20</li>
	         		<li id="21">21</li>
	         		<li id="22">22</li>
	         		<li id="23">23</li>
	         		<li id="24">24</li>
	         		<li id="25">25</li>
	         		<li id="26">26</li>
	         		<li id="27">27</li>
	         		<li id="28">28</li>
	         		<li id="29">29</li>
	         		<li id="30">30</li>
	         		<li id="31">31</li>
	         		<li id="32">32</li>
	         		<li id="33">33</li>
	         		<li id="34">34</li>
	         		<li id="35">35</li>
	         		<li id="36">36</li>
	         		<li id="37">37</li>
	         		<li id="38">38</li>
	         		<li id="39">39</li>
	         		<li id="40">40</li>
	         		<li id="over40">40 이상</li>       		
	       		</ul>
	    	</div>
	    	
			<div class="dropdown"> 
	       		<div class="select">
	       			직업은 
	         		<span>____</span>
	         		 입니다.
	         		<i class="fa fa-chevron-left"></i>
	       		</div>
	       		<input type="hidden" id="user_Job" name="user_Job" value="null">
	       		<ul class="dropdown-menu">
	         		<li id="student">학생</li>
	         		<li id="worker">직장인</li>
	         		<li id="army">군인</li>
	         		<li id="etc">기타</li>
	       		</ul>
	    	</div>
		</form>
    	<button class="glow-on-hover" type="button"> NEXT ! </button>

   	</div>
	

</body>

<script type="text/javascript">
	$(document).ready(function(){
		$('.container').children('.header').animate({opacity: "1"}, 1000, function(){
			$('.container').children('#userInfo').animate({opacity: "1"}, 1000, function(){
				$('.container').children('.glow-on-hover').animate({opacity: "1"}, 1000)
			})
	 	})
	});


	/* 드롭박스 옵션 */
	$('.dropdown').click(function () {
	    $(this).attr('tabindex', 1).focus();
	    $(this).toggleClass('active');
	    $(this).find('.dropdown-menu').slideToggle(300);
	});
	$('.dropdown').focusout(function () {
	    $(this).removeClass('active');
	    $(this).find('.dropdown-menu').slideUp(300);
	});
	
	/* 드롭박스의 값을 input의 value에 넣어줌 */
	$('.dropdown .dropdown-menu li').click(function () {
	    $(this).parents('.dropdown').find('span').text($(this).text());
	    $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
	});
	
	/* 유효성 검사 후 값 전송 ---> 이거 ID로 변경해야됨 */
	$('.glow-on-hover').click(function(){
		if( $('#user_Job').val() == 'null' || $('#user_Age').val() == 'null' ) {
			alert("나이와 직업을 선택해주세요.")
			return false;
		}
		userInfo.submit();
	})

</script>
</html>